.logoHead{
   display: flex;
   align-items: center;
   justify-content: center;
   padding-top: 1rem;
}
.logoText{
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .logoText p{
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 2px;
 }

 /********************* Syllabus Slug Page  Start ********************************/
 .syllabusContainer{
    margin-top: 2rem;
    margin-bottom: 3rem;
    padding-left: 7rem;
    padding-right: 7rem;
 }
/********************** Syllabus Slug Page  END*********************************/
 /* Syllabus Index Page  Start*/
 .syllabusMainContainer{
   display: flex;
   /* padding-left: 3rem;
   padding-right: 3rem; */
   
 }

 .syllabusContainerSidebar{
    flex: 1;
    background-color: rgba(244, 245, 247, 0.1);
 }
 .syllabusContainerContent{
    flex: 4;
    padding-left: 1rem;
    background-color: rgba(244, 245, 247, 0.3);
    min-height: 100vh;
 }

 .syllabusContainerHolder{
   background: rgba(0, 0, 0, 0.178);
   padding-top: 2rem;
   padding-bottom: 2rem;
   padding-left: 7rem;
   padding-right: 7rem;
   
 }
 
 .syllabusCategory{
    display: flex;
    padding-bottom: 2rem;
 }

 .syllabusHeading{
   margin-top: 0.7rem;
 }
 .syllabusHeadingContainer{
   padding: 1.5rem;
   
 }

 .syllabusCategoryText{
   font-size: 1.1rem;
   padding: 5px;
  
}

.syllabusCategoryText a{
   text-decoration: none;
   color: black;
   
}

.syllabusCategoryTextContainer{
   margin-right: 1rem;
   margin-top: 1rem;
}

.syllabusCategoryText a:hover{
   text-decoration: none;
   color: black;
   
}

.syllabusCategoryText:hover{
   font-size: 1.1rem;
   border: 1px solid black;
   background-color: black;
  
   cursor: pointer;
   font-weight: bold;
   border-radius: 7px;
   padding: 5px;
   
}

 /* Syllabus Index Page  End*/

 /* .syllabusContainer{
    padding: 3rem;
 } */

 .syllabusMainContents{
    padding-top: 1rem;
 }
.syllabusText{
    font-size: 2rem;
    font-weight: bold;
}

.syllabusDescription{
   font-size: 1.5rem;
}

.syllabusContentHolder{
   display: flex;
   padding-top: 3rem;
}

.syllabusContentHolder__1{
   flex: 5;
   padding-right: 1rem;
}

.syllabusContentHolder__2{
   flex: 1.2;
   background: rgba(0, 0, 0, 0.178);
   padding: 0.4rem;
}

.syllabusContentHolder__2__toc{
   margin-bottom: 0.5rem;
   padding-bottom: 0.3rem;
   
   border-bottom: 1px solid white;
}

.substrandHead{
      display: flex;
    margin: 0.5rem;
    width: 100%;
}

.Outcomes__1{
   flex: 2;
   padding-right: 0.5rem;
}

.Outcomes__2{
   flex: 2.3;
   padding-right: 0.5rem;
}

.substrandContainer{
   /* margin-top: 1.5rem;
   margin-left: 0.6rem; */
   width: 100%;
   height: auto;
}

.substrandContainer__1{
   margin-right: 1.2rem;
   border: 2px solid rgb(36, 36, 65);
}

.substrandHeading{
   display: flex;
   /* margin-top: 1.5rem; */
   padding-top: 0.5rem;
   padding-bottom: 0.2rem;
   /* border-top: 2px solid rgb(36, 36, 65);; */
   /* padding-left: 0.5rem; */
}

.substrandHeading__1{
   flex: 3;
   padding-left: 0.5rem;
   /* padding-right: 0.5rem; */
}

.substrandHeading__2{      
   flex: 2 
   }

   .substrandStrand{
      padding-left: 0.5rem;
  }
  
  .substrandHeads{
      display: flex;
      padding-bottom: 0.2rem;
  }
  .substrandHeads__1{
      flex: 3;
      padding-left: 0.5rem;
  }
  .substrandHeads__2{
      flex: 2;
  }

  .substrandStatement p{
   margin-bottom: 0.5rem;
   padding-left: 0.5rem;
   }
   .substrandOutcomes{
       display: flex;
       background-color: rgb(36, 36, 65);
   }
   .substrandOutcomes__1{
       flex: 2;
       color: white;
       font-weight: bold;
       padding: 0.5rem;
   }
   
   .substrandOutcomes__2{
       flex: 2.3;
       color: white;
       font-weight: bold;
       padding: 0.5rem;
   }
   
   .substrandOutcomesStem{
       display: flex;   
   }
   
   .substrandOutcomes__stem__1{
       flex: 2;
       font-weight: bold;
       padding: 0.5rem;
       font-style: italic;
   }
   
   .substrandOutcomes__stem__2{
       flex: 2.3;
       font-weight: bold;
       padding: 0.5rem;
       font-style: italic;
   }

   .substrand_assessment{
      margin-top: 1rem;
        /* padding-top: 1rem; */
       /* margin-left: 0.6rem;
       margin-right: 0.6rem;
       margin-bottom: 0.6rem; */
       /* border-top: 1px solid black; */
   }

   .yearContainer{
      display: flex;
      margin-right: 1rem;
      align-items: center;
      justify-content: center;
   }

   .yearsHolder{
      margin-top: 1.5rem;
      margin-right: 2rem;
      
   }

   
/****** LOGIN PAGE ********/
.loginContainer{
background-image: url(../students-looking.jpg);
/* -webkit-filter: blur(5px);
-moz-filter: blur(5px);
-o-filter: blur(5px);
-ms-filter: blur(5px);
filter: blur(5px); */
}

.loginHolder{
   display: flex;
   padding: 5rem;
}

.loginLeft{
   flex: 4;
   display: flex;
   align-items: center;
   justify-content: center;
  
}
.loginLeftContent{
   font-size: 3rem;
}
.loginRight{
   flex: 2;
   padding-left: 10rem;
   padding-right: 15rem;
}

/**************** Sidebar STARTS****************/
.sidebarLogo{
   height: auto;
   margin-top: 2rem;
}

.sidebarCoat{
   padding-top: 1rem;
   margin-left: auto;
   margin-right: auto; 
   width: 40%;
   background-image: url('../static/coat-of-arm.svg');
   height: 8rem;
   width: 8rem;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 50% 50%;
}

.sidebarCoatText{
text-align: center;
}

.sidebarMehrdContainer{
   display: flex; 
   align-items: center;
   justify-content: center;
}

.sidebarMehrdContainer p{
   text-align: center;
   padding-left: 3rem;
   padding-right: 3rem;
   padding-top: 3rem;
   font-size: 1rem;
}

.sidebarMehrdBoxContainer{
   margin-top: 4rem;
}

.sidebarMehrdBoxContainer p{
   text-align: center;
}

.sidebarMehrdImage__1{
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 2rem;
   padding-bottom: 0.5rem;   
}

.sidebarMehrdContactContainer{
   margin-top: 5rem;
}

.sidebarMehrdContactContainer {
   text-align: center;
}

.sidebarMehrdImage__2{
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 2rem;
   padding-bottom: 0.5rem; 
}

.sidebarMehrdEmailContainer{
   margin-top: 5rem;
   padding-bottom: 1.5rem;
}

.sidebarMehrdImage__3{
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 2rem;
   padding-bottom: 0.5rem; 
}

.sidebarMehrdEmailContainer p{
   text-align: center;
}

/**************** Sidebar ENDS****************/

.syllabusCard{
   margin: 1.5rem;
   
   align-items: center;
   justify-content: center;
}

.stretchContent{
   width: 100%;
   font-weight: bold;
}


.categoryContent{
   margin-left: 5.5rem;
}


/**************** Admin Syllabus Catogories****************/
.adminCategoryContainer{
   margin: 2rem;
}



